h1 {
    font-size: 36px;
}

.login-container {
    background-color: white;
    border-radius: 9px;
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-email>input {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 312px;
    height: 56px;
    font-size: 20px;
    background-color: fbfbfb;
    border-radius: 9px;
}

.form-pws>input {
    margin-top: 25px;
    width: 312px;
    height: 56px;
    font-size: 20px;
    background-color: fbfbfb;
    border-radius: 9px;

}

.form-btn {
    margin-top: 15px;
    background-color: #2aac64;
    width: 319px;
    height: 57px;
    font-size: 20px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}

.form-checkbox,
.forgot-password {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 17px;
}

.form-checkbox {
    float: left;
}

.forgot-password {
    float: right;
}

.forgot-password>a {
    color: black;

}