.form-container {
    background-color: white;
    border-radius: 9px;
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.submitBtn {
    margin-top: 15px;
    background-color: #2aac64;
    width: 319px;
    height: 57px;
    font-size: 20px;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}

.email_input>input {
    margin-top: 25px;
    width: 312px;
    height: 56px;
    font-size: 20px;
    background-color: fbfbfb;
    border-radius: 9px;
}