.box_welcome_text {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 80%;
    height: 148px;
    text-align: center;
    background-color: white;
    color: #272727;
}

.box_welcome_text>h1 {
    font-size: 48px;
    text-align: center;
}

.info_home_page {
    position: absolute;
    top: 25%;
    left: 9%;
    bottom: 5%;
    width: 80%;
    text-align: center;
    background-color: white;
    color: #272727;
}


/* .home {
    background-color: rgba(229, 229, 229, );
}

h1 {
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: "Helvetica Neue, Arial, sans-serif";
    height: 148px;
    margin: 30px;

}

.info_home_page {
    background-color: green;
    height: 799px;

    text-align: center;
} */