.box_welcome_text {
    position: absolute;
    margin-top: 45px;
    left: 9%;
    width: 80%;
    height: 148px;
    text-align: center;
    background-color: white;
    color: #272727;
}

.box_welcome_text>h1 {
    font-size: 48px;
    text-align: center;
}

.info_home_page {
    position: absolute;
    top: 32%;
    left: 9%;
    bottom: 5%;
    width: 80%;
    text-align: center;
    background-color: white;
    color: #272727;
}