
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter.ttf) format('truetype');
}

html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #eef0f1;
  overflow: auto;
}


ul {
  list-style: none;
  padding: 0;
  margin:0;
}
a {
  text-decoration: none;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#root{
  height:100%
}

