.navbar {
    background-color: #062b42;
    height: 72px;
    align-items: center;
    display: flex;
}

.navbar-menu {
    width: 90%;
    list-style: none;

}

.navbar-logo {
    cursor: pointer;
    float: left;
    margin-left: 105px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

li {
    float: Left;
    text-align: center;
    grid-template-columns: repeat(15, auto);

}

.navbar-product {
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-login {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.navbar-btn-help {
    float: right;
    margin-top: 15px;
    margin-right: 55px;
}

.navbar-btn {
    background-color: #2aac64;
    border-radius: 50%;
}